.product{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    min-width: 230px;
}

.name{
    font-weight: bold;
    color: red;
    text-align: left;
}
.price{
    font-weight: bold;
    color: green;
}
.quantity{
    display: flex;
}
.quantity .button{
background-color: #eee;
width: 20px;
height: 20px;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
outline: none;
border: 1px solid #ccc;
}
.quantity .value{
margin: auto 8px;
}
.delete{
    color: red;
    cursor: pointer;
}

.remove{
    color: red;
    border: 1px solid red !important;
}